In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
dados = {
    "Mes": ["Jan", "Fev", "Mar", "Abr", "Mai", "Jun", "Jul", "Ago", "Set", "Out", "Nov", "Dez"],
    "Vendas": [1500, 2300, None, 2000, 2100, 2500, 2700, None, 3000, 3200, 3100, 3300]
}

df = pd.DataFrame(dados)

In [3]:
print("Visualização inicial dos dados:")
print(df)

Visualização inicial dos dados:
    Mes  Vendas
0   Jan  1500.0
1   Fev  2300.0
2   Mar     NaN
3   Abr  2000.0
4   Mai  2100.0
5   Jun  2500.0
6   Jul  2700.0
7   Ago     NaN
8   Set  3000.0
9   Out  3200.0
10  Nov  3100.0
11  Dez  3300.0

In [4]:
print("\nEstatísticas:")
print(df.describe())

Estatísticas:
            Vendas
count    10.000000
mean   2570.000000
std     594.511938
min    1500.000000
25%    2150.000000
50%    2600.000000
75%    3075.000000
max    3300.000000

In [5]:
print("\nValores nulos por coluna:")
print(df.isnull().sum())

Valores nulos por coluna:
Mes       0
Vendas    2
dtype: int64

In [6]:
media_vendas = df["Vendas"].mean()
df["Vendas"].fillna(media_vendas, inplace=True)

print("\nDados após tratamento de nulos:")
print(df)

Dados após tratamento de nulos:
    Mes  Vendas
0   Jan  1500.0
1   Fev  2300.0
2   Mar  2570.0
3   Abr  2000.0
4   Mai  2100.0
5   Jun  2500.0
6   Jul  2700.0
7   Ago  2570.0
8   Set  3000.0
9   Out  3200.0
10  Nov  3100.0
11  Dez  3300.0

/var/folders/w0/g6qvq1cd2pd1ysgj_2w08rz80000gn/T/ipykernel_22776/3730284263.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Vendas"].fillna(media_vendas, inplace=True)

In [ ]:
plt.figure(figsize=(10, 5))
plt.plot(df["Mes"], df["Vendas"], marker='o', color='blue', linewidth=2)

# Títulos e rótulos
plt.title("Vendas Mensais - 2024", fontsize=16)
plt.xlabel("Mês", fontsize=12)
plt.ylabel("Vendas (R$)", fontsize=12)

# Mostrar valores em cada ponto
for i, valor in enumerate(df["Vendas"]):
    plt.text(i, valor + 50, f"{valor:.0f}", ha='center')

plt.grid(True, linestyle='--', alpha=0.5)
plt.tight_layout()
plt.show()